.about{
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 28px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #fbfbfb, #c7caf0);
    max-width: 100%;
    box-sizing: border-box;
    text-align: justify;
}

.about__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start; 
    width: 100%; 
}

.about__title{
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 700;
}

.about__paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    word-break: break-word;
}

@media (min-width: 768px) {
    
    .about{
        padding: 0 52px;
    }

    .about__title{
        font-size: 24px;
        font-weight: 700;
    }    

    .about__paragraph{
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    
    .about{
        margin: 80px 0;
        background: var(--color-de-fondo);
        padding: 0 52px;
        height: auto;
        width: 88%;
    }

    .about__title{
        font-size: 30px;
        font-weight: 700;
    }    

    .about__paragraph{
        font-size: 20px;
    }
}